body {
    background: #121212;
}
#myCanvas {
    z-index: 1;
    background: #ffffff;
    border: thin inset #121212;
}

#uiContainer{
  position: absolute;
  top: 10px;
  left: 1130px;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 3;
  font-family: "Copperplate", "Copperplate Gothic Light", "fantasy";
  font-size: 16px;
  background-color: rgba(220, 212, 212, 0.201);
  
}

.container {  /*to manage text on canvas and webgl */
  position: relative;
}
#visuale{
  color: white;
  font-family: "Copperplate", "Copperplate Gothic Light", "fantasy";
  font: Calibri;
}
#bottoni{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#lightManipulation{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

#text {  /*to manage text on canvas and webgl */
  background-color: transparent;  /* needed because we setcanvas bg color to white */
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
}
